*{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
html, body          {width: 100%; height: 100%; overflow: hidden;}
body				{font-family: sans-serif; background: #eee; margin: 0; padding; 0;}
input.diceInput		{margin: 0; border: 1px solid silver; background: #FFFFFF; text-align: center;}
input:focus         {outline: none;}

main ul				{margin: 0; padding: 0; /*background: linear-gradient(to bottom, #f7f7f7, white 20%, #dedede);*/}
main ul li			{font-size: 1.2em; line-height: 23px;
					 list-style: none; color: #666;
					 margin: 0; padding: 0.5em 0 0.5em 1em;
					 border-bottom: 1px dotted #ccc;}

main ul li:nth-child(2n+1)	 {/*background: rgba(0, 0, 0, 0.025);*/}
main ul li:hover			 {background: #f7f7f7;}
#right ul li:first-child 	 {color: #333; background: rgba(255, 255, 255, 0.85);}


#guests				{margin: 0; padding: 0;}
#guests > li		{width: 32px; height: 32px; background: #ccc; color: white; text-shadow: black 0 1px 2px;
					 margin: 8px 4px 0;
					 text-align: center;
					 line-height: 32px;
					 box-shadow: rgba(0, 0, 0, 0.3) 0 2px 9px -3px;}
#guests	> li:hover	{}

#guests .plus		{cursor: pointer; border-radius: 4px; box-shadow: none; border: 1px solid silver; background: transparent; color: silver; text-shadow: none;}
#guests .plus:hover {background: #ccc; color: white;}
#guests .plus ul	{background: none; padding: 0; margin: 0; text-align: right; float: right; z-index: 11; position: relative; box-shadow: #333 0 3px 8px -3px;}
#guests .plus ul li	{font-size: 0.7em; text-shadow: #ddd 0 1px 1px; padding: 0.3em 1em; background: rgba(250, 250, 250, 0.9); display: block; text-align: left;}
#guests .plus ul li:hover {background: white;}


.ps					{color: #999; white-space: pre;}
ul li:hover .ps		{color: #555;}

input[disabled]		{color: #999;}

section				{overflow: visible; height: 100%;}

section h1			{background: url(grey.png); text-shadow: #777 0 1px 2px; color: #444; padding: 0.5em; margin:0; /*background: linear-gradient(0deg, #eee, white 60%);*/ border-bottom: 1px solid silver;}

iframe				{display: none; position: fixed; top: -999999%; left: -999999%; width: 0; height: 0; border: 0;}
fieldset			{display: none;}



.diceInput			{float: right; margin-right: 0.5em;}

.good				{color: #5a1;}
.double				{text-decoration: underline;}
.reroll				{color: green; text-decoration: underline;}
.bad				{color: red;}
.d10				{display: none;}
.highest			{color: blue;}

.reload				{cursor: pointer;}

.close				{cursor: pointer;
					 visibility: hidden;
					 user-select: none;
					 -moz-user-select: none;
					 -webkit-user-select: none;
					 -ms-user-select: none;
					 font-family: Open-sans, sans-serif;
					 float: right; color: #999; font-size: 10pt; text-shadow: #999 0 -1px 2px; margin: 0 1em 0 0; font-weight: 400; display: inline-block; text-align: center; width: 32px; height: 32px;}
li:hover .close		{visibility: visible;}
.is-hidden .close	{color: #fff; visibility: visible;}
.close:hover		{color: #333;}

#notifications		{position: fixed; right: 0; bottom: 0; list-style: none;}
.notification		{color: white; background: rgba(0, 0, 0, 0.85); border-radius: 4px;
					 bottom: 0; right: 0; width: 150px; z-index: 9; list-style: none;
					 padding: 10px 20px; margin: 0 24px 8px;
					 opacity: 0.65;
					 cursor: pointer;}
.notification:hover	{opacity: 1;}
.notification h1 	{font-size: 12pt; margin: 0; padding: 0;}
.notification p 	{font-size: 9pt; margin: 0 0 0.5em; padding: 0;}
.notification .close{float: right;}





#options			{position: absolute; display: block; overflow: hidden; box-shadow: inset black -8px 0 32px -8px;
                     color: #f0f0f0; background: #383838;
                     top: 0; bottom: 0;
                     transition: width 0.35s;
                     -o-transition: width 0.35s;
                     -moz-transition: width 0.35s;
                     -webkit-transition: width 0.35s;}
#options h1         { padding: 0.5em; margin:0;}
#options ul         {list-style: none; line-height: 36px; margin: 0; padding: 0 0 0 1.5em;}
#options ul         {width: 256px;}
#options a			{color: #e7e7e7; text-decoration: none;}
#options a:hover	{color: #fff; text-decoration: underline;}
#options.on+main    {/*left: 256px;*/
                     transform: translateX(256px);
                     -moz-transform: translateX(256px);
                     -webkit-transform: translateX(256px);
}

main                {position: absolute; left: 0; top:0; border-left: white; width: 100%; height: 100%;
                     background: inherit;
                     transition: all 0.25s ease;
                     -o-transition: all 0.25s ease;
                     -moz-transition: all 0.25s ease;
                     -webkit-transition: all 0.25s ease;}

#left				{position: absolute; top: 0; left: 0; width: 256px;}
#left #dicepool     {height: 100%;}
#left form ul       {max-height: calc(100% - 3em - 1px); overflow-y:auto; overflow-x: hidden;}

#left ul li			{min-height: 1.25em; text-shadow: #888 0 1px 2px;}

#right				{position: relative; top: 0; width: calc(100% - 260px);
					 left: 256px; bottom: 0; white-space: nowrap;
					 overflow: auto; border-left: 3px double silver;}

#options input      {border: 0; background: #484848; color: #f0f0f0; font-size: normal; display: inline-block;}
#options input[type=button]{padding: 1em; cursor: pointer; border-radius: 0;}
#options input:hover{background: #585858;}
#wod                {margin: 0 1px;}











#guests, #hosts		{float: right; list-style: none; clear: none;}
#guests li,
#hosts li			{display: inline-block; list-style: none;}

#desc				{font-size: 1em;}

#namer				{padding: 0;}
#namer input		{margin:  0; padding: 0.5em 0; max-width: 100%; width: 100%; padding-left: 0; padding-right: 0; border: 0;
					 line-height: 24px;}

#roller				{padding: 0; line-height: 24px;}
#roll				{width: 100%; height: 2.25em; display: block;
					 box-sizing: border-box; -moz-box-sizing: border-box;
					 font-size: inherit; border: 1px solid white !important; text-shadow: #666 0 1px 2px;}
/* #roll, #settings	{background: linear-gradient(180deg, #f0f0f0, #e7e7e7); cursor: pointer;}
#roll:hover			{background: linear-gradient(180deg, #ffffff, #f0f0f0);}*/
#roll, #settings	{background: linear-gradient(180deg, #ffbb55, #ffbb55 50%, #ffb050 50%, #ff9922); cursor: pointer;}
#roll:hover			{background: linear-gradient(180deg, #ffcc77, #ffcc77 50%, #ffc060 50%, #ffbb55);}

#settings			{padding: 0; height: 100%; width: 48px; display: block; margin-top: -3px; margin-right: 1em;
					 float: left;
					 font-size: inherit;
					 background: #eee url(settingsIcon.png) center center no-repeat;
                     background-size: contain;
					 border-width: 1px; border-color: silver; border-radius: 3px;}
#settings:hover		{background-color: #fff;}
#settings.on		{background-color: #e0e0e0;}


#links				{position: absolute; bottom: 0;}
#links a.error		{color: red;}

#contact				{display: inline-block; position: fixed; top: 32px; right: 16px; opacity: 0.25; text-shadow: silver 0 1px 1px;}
#contact:hover			{opacity: 1;}

#mailer					{ height: 250px; width: 250px; position: fixed; top: 30%; left: 30%; background: rgba(0, 0, 0, 0.8); padding: 32px; border-radius: 8px 0; color: white; font-family: Lucida Sans Unicode;
						 box-shadow: #555 2px 4px 6px -2px;}
#mailer label				{display: inline-block; margin: 2px 5px; width: 64px;}
#mailer input[type=submit]{border: 2px solid silver; font-family: Lucida Sans Unicode; background: #e7e7e7; border-radius: 0 0 8px 8px; border-top: none; text-shadow: silver 0 1px 0; box-shadow: black 1px 2px 3px;
						 margin:  -2px -4px 0 0; float: right;}
#mailer textarea			{width: 100%; height: 170px; margin: 1em 0 0; border: 2px solid silver; background: #e7e7e7; border-radius: 0 8px;}

#mailer #close			{display: inline-block; float: right; margin: -38px; border-radius: 100%; background: black; width: 1.5em; height: 1.5em; text-align: center; border: 2px solid #e7e7e7; box-shadow: black 1px 2px 3px;}

#close, input[type=submit]{cursor: pointer;}


#copy					{opacity: 0.25; font-size: x-small; position: fixed; bottom: 0; right: 16px; text-shadow: #333 0 1px 2px;}
#copy:hover				{opacity: 0.85;}

#right #viewport		{height: calc(100% - 1.5em - 25px); background: url(nasty_fabric.png);
						 box-sizing: border-box; box-shadow: inset #333 0 4px 16px -6px;
						 -webkit-box-sizing: border-box;
						 -moz-box-sizing: border-box;
						 -ms-box-sizing: border-box;
						 -o-box-sizing: border-box;
						 overflow: hidden;
						 overflow-x: auto;
						 overflow-y: hidden;
						 white-space: nowrap;}

.results				{min-width: 350px; min-height: 3em; height: 100%; max-height: 100%; width: 100%; display: inline-block; font-size: 12px; vertical-align: top;
						 background: #eee; white-space: normal; box-shadow: #333 0 3px 8px -2px; overflow: auto; padding: 0; margin: 0;
						 box-sizing: border-box;
						 -o-box-sizing: border-box;
						 -ms-box-sizing: border-box;
						 -moz-box-sizing: border-box;
						 -webkit-box-sizing: border-box;
						 transition: border-radius 0.35s, border-width 0.35s, width 0.15s;
						 -o-transition: border-radius 0.35s, border-width 0.35s, width 0.15s;
						 -moz-transition: border-radius 0.35s, border-width 0.35s, width 0.15s;
						 -webkit-transition: border-radius 0.35s, border-width 0.35s, width 0.15s;}

#viewport[data-count="1"] .results	{width: 100%!important;}
#viewport[data-count="2"] .results	{width: 48.5%!important;}
#viewport[data-count="3"] .results	{width: 30%!important;}
#viewport[data-count="4"] .results	{width: 25%!important;}
#viewport[data-count="5"] .results	{width: 20%!important;}
#viewport[data-count="6"] .results	{width: 18%!important;}
#viewport[data-count="7"] .results	{width: 13.5%!important;}
#viewport[data-count="8"] .results	{width: 12.5%!important;}
#viewport[data-count="9"] .results	{width: 11.1%!important;}
#viewport[data-count]				{padding: 8px;
									 transition: padding: 0.5s;
									 -o-transition: padding: 0.5s;
									 -moz-transition: padding: 0.5s;
									 -webkit-transition: padding: 0.5s}
#viewport[data-count] .results		{width: 10%; border-radius: 8px; border: 1px solid silver; margin-right: 8px;}
#viewport[data-count] .results:before{
						 content: attr(name); display: block; width: 100%; font-size: 1.3em; padding: 0.5em; border-bottom: 1px dotted silver; text-align: right; font-weight: 700; text-shadow: silver 0 1px 2px;
						 box-sizing: border-box;
						 -moz-box-sizing: border-box;
						 -webkit-box-sizing: border-box;
						 -ms-box-sizing: border-box;}
#viewport[data-count] .results:before:hover:after{
						 content:"remove";
}

.is-hidden				{display: none;}
.show-hidden .is-hidden {display: block; background: rgba(0, 0, 0, 0.05); opacity: 0.5;}

.ask					{z-index: 11; position: fixed; top: 50%; margin-top: -5em; left: 50%; margin-left: -175px; background: rgba(0, 0, 0, 0.75);
						 box-shadow: #333 0 3px 8px -3px; color: white; padding: 20px; border-radius: 8px;}
.ask span				{font-size: 9pt; margin-top: -20px; display: block; line-height: 35px; color: #aaa;}
.ask input				{text-align: left;
						 padding: 0.3em;
						 box-sizing: border-box;
						 -ms-box-sizing: border-box;
						 -moz-box-sizing: border-box;
						 -webkit-box-sizing: border-box;}
.ask div				{text-align: right;}
.ask button				{margin: 0; padding: 0.3em 1em; margin:0;}

.dropdown				{transition: opacity 0.2s, height 0.2s;
						 -ms-transition: opacity 0.2s, height 0.2s;
						 -moz-transition: opacity 0.2s, height 0.2s;
						 -webkit-transition: opacity 0.2s, height 0.2s;}
.is-collapsed			{height: 0; margin: 0; padding: 0; opacity: 0;}
.is-collapsed *			{display: none!important;}

#donate					{position: absolute; bottom: 1em; left: 0; width: 100%; text-align: center;}

#donate .message		{position: relative; top: -26px; background: #333; color: #e7e7e7; padding: 16px 16px 0; opacity: 0;
						 transition: opacity 0.2s, height 0.2s;
						 -ms-transition: opacity 0.2s, height 0.2s;
						 -moz-transition: opacity 0.2s, height 0.2s;
						 -webkit-transition: opacity 0.2s, height 0.2s;}

#donate .message:after	{content: " "; display: block; width: 0; height: 0; overflow: hidden; border: 16px solid transparent; border-top-color: #333; border-bottom: none; position: relative; bottom: -16px; margin: 0 auto;}
#donate:hover .message	{opacity: 1;}

@media (max-width: 850px){
	body			{font-size: 70%;}
	li#roller 		{font-size: 135%;}
}

@media (max-width: 600px){
	#right			{left: 35%; width: 65%;}
	#left			{width: 35%;}

    #right .results {min-width: 200px;}
    main            {min-width: 330px;}
    #settings       {max-width: 40%;}
    html, body      {overflow: auto;}
}

@media (max-width: 400px){
	#right			{left: 50%; width: 100%;}
	#left			{width: 50%;}
}

@media (max-height: 460px){
    #roller				{position: absolute; bottom: 0; z-index: 999999999999; width: 100%;}

    #left form ul:after {content: " "; display: block; height: 2.7em;}

    #donate 			{display: none;}
    #donate .message	{display: none;}
}